# 2.4 Database(SQLite3)

## [코드 2-4-1] csv에 데이터 저장

In [20]:
## 1. csv로 저장하기
import pandas as pd

df = pd.DataFrame()
df['seller'] = pd.Series(['tom','james','kaka'])
df['buyer']=pd.Series(['pepe','alex','mike'])
df['amount'] = pd.Series([10,20,30])
df.to_csv('sample_transaction.csv')
df = pd.read_csv('sample_transaction.csv', index_col=0)
df

  seller buyer  amount
0    tom  pepe      10
1  james  alex      20
2   kaka  mike      30

## [코드 2-4-2] 데이터베이스에 데이터 저장

In [22]:
## 2. SQLite3로 저장하기

# package 불러오기
import sqlite3

## sample.db라는 파일에 connection 만들기(실제 폴더에 sample.db라는 파일이 생성된다)
conn = sqlite3.connect('sample.db')

## 1번 방식과 동일하게 DataFrame을 생성한다. 
df = pd.DataFrame()
df['seller'] = pd.Series(['tom','james','kaka'])
df['buyer']=pd.Series(['pepe','alex','mike'])
df['amount'] = pd.Series([10,20,30])

## to_sql 함수를 활용하여 connection(sample.db)의 test_transaction에 저장한다. 
df.to_sql('test_transaction', conn)

## 다시 connection(sample.db)의 test_transaction에서 SQL문으로 데이터를 불러온다.
df = pd.read_sql_query("SELECT * FROM test_transaction ", conn)
df

   index seller buyer  amount
0      0    tom  pepe      10
1      1  james  alex      20
2      2   kaka  mike      30

## [코드 2-4-3] Pandas에서 쿼리를 통한 데이터 호출

In [23]:
# connection에 쿼리문(test 테이블에서 seller = 'tom'인 데이터를 불러와라)을 사용해서 데이터 호출
df = pd.read_sql_query("SELECT * FROM test_transaction where seller = 'tom' ", conn)
df

   index seller buyer  amount
0      0    tom  pepe      10